
/*

!/.gitignore
!/CMakeLists.txt
!/LICENSE.md
!/README.md

!/docs
!/model
!/project

# OS specific files
**/Thumbs.db # Untrack Windows thumbnail cache (Thumbs.db)
**/.DS_Store # Untrack Apple macOS custom folder attributes (.DS_Store)
